:root {
  --gray-color: #737373;
  --blue-color: #23a6f0;
  --primary-text-color: #252b42;
  --danger-color: #e74040;
  --disabled-element-color: #8ec2f2;
  --fw-400: 400;
  --fw-700: 700;
  --fsz-12: 12px;
  --fsz-14: 14px;
  --fsz-20: 20px;
  --fsz-40: 40px;
  --lh-20: 20px;
  --lh-24: 24px;
  --lh-30: 30px;
  --lh-50: 50px;
}

/* Featured section */
.featuredProductsSection,
.featuredPostsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 0rem 0rem;
}

.featuredProductsSectionHeader,
.featuredPostsSectionHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0rem 4.5rem 4rem 4.5rem;
}

.featuredProductsSectionHeader h2 {
  margin: -0.5rem 0 -0.2rem;
}

.featuredProductsSectionHeader h4,
.featuredProductsSectionHeader p {
  color: var(--gray-color);
  font-weight: var(--fw-400);
}

.featuredProductsSectionHeader h4 {
  font-size: var(--fsz-20);
  line-height: var(--lh-30);
  letter-spacing: 0.2px;
}

.featuredProductsSectionHeader p {
  font-size: var(--fsz-14);
  line-height: var(--lh-20);
  letter-spacing: 0.2px;
}

.featuredProductsSectionGrid {
  max-width: 1100px;
  margin: 0 2rem;
  padding: 0 2rem;
  width: 100%;
  text-align: center;
}

.featuredProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 4rem;
}

.featuredProductCard img {
  width: 72px;
  height: 72px;
}

.featuredProductCard p {
  flex-wrap: wrap;
  padding: 0rem 6rem;
}

/* Featured Posts */
.featuredPostsSection {
  margin-top: 5rem;
  padding: 0rem;
}

.featuredPostsSectionGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.8rem;
  margin: 0 2rem;
  padding: 0 2rem;
  max-width: 1100px;
  margin: 0 auto;
}

.featuredPostsSectionHeader p {
  color: var(--blue-color);
  font-weight: 700;
  font-size: var(--fsz-14);
  line-height: var(--lh-24);
  letter-spacing: 0.2px;
}

.featuredPostsSectionHeader h2 {
  font-weight: 700;
  font-size: var(--fsz-40);
  line-height: var(--lh-50);
  letter-spacing: 0.2px;
  margin-top: -0.5rem;
}

.postCard {
  box-shadow: 0px 2px 4px 0px #0000001a;
  width: 100%;
}

.postCardTop {
  position: relative;
}

.postCardTop img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.postCardTop p {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--danger-color);
  padding: 0px 10px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px #0000001a;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fsz-14);
  font-weight: var(--fw-700);
  line-height: var(--lh-24);
  color: white;
}

.postCardBottom {
  height: 306px;
  gap: 10px;
  padding: 25px 25px 35px 25px;
  font-weight: var(--fw-400);
}

.postCardBottom h1 {
  font-weight: var(--fw-400);
}

.postCardBottom .postCardDescription {
  font-size: var(--fsz-14);
  line-height: var(--lh-24);
  letter-spacing: 0.2px;
  color: var(--gray-color);
  width: 280px;
}

.postCardStatus {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: var(--fsz-12);
}

.postCardStatus > p:first-child {
  color: var(--disabled-element-color);
}

.postCardInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fsz-12);
}

.postCardInfo div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.postCardLearnMore {
  display: flex;
  align-items: center;
  gap: 10px;
}

.postCardLearnMore p {
  font-size: var(--fsz-14);
  color: var(--gray-color);
  font-weight: var(--fw-700);
}

.postCardLearnMore img {
  width: 9px;
  height: 16px;
}

@media (min-width: 768px) {
  .featuredProductsSection {
    padding: 0rem;
    margin: 7rem 0rem;
  }

  .featuredProductsSectionGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }

  .featuredProductCard p {
    width: 75%;
  }
}
